/* Global */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0C74C6;
}

.container {
    width: 75%;
    margin: auto;
}

.title {
    color: #0C74C6;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 7px 0px 5px 15px;
}

.alert {
    color: #ff1a1a;
}

@keyframes fade {
    from {opacity: 0.2}
    to {opacity: 1}
}

@keyframes blinking {
    0% {color: #ff1a1a;}
    49% {color: #ff1a1a;}
    60% {color: transparent;}
    99% {color: transparent;}
    100% {color: #ff1a1a;}
}

/* Login */
.login {
    width: 405px;
    height: 350px;
    margin: 100px auto;
    background-image: url('../img/login.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.form-login {
    width: 100%;
    height: 210px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
}

.form-login p.alert {
    position: absolute;
    top: 45%;
    left: 6%;
    display: none;
    font-weight: 600;
    animation-name: blinking;
    animation-duration: 1.2s;
    animation-iteration-count: 3;
}

.form {
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 4px;
}

.label-login {
    display: inline-block;
    width: 28%;
    padding-left: 20px;
    color: #fff;
}

.form-login input[type="text"], .form-login input[type="password"] {
    width: 50%;
    height: 25px;
    line-height: 25px;
    margin-left: 5px;
    border: none;
    outline: none;
}

.form-login input[type="checkbox"] {
    margin: 15px 5px 0px 130px;
    vertical-align: -2px;
    cursor: pointer;
}

.show-password {
    font-size: 15px;
    color: #fff;
}

.submit-login {
    display: block;
    background-image: url('../img/button-login.jpg');
    background-repeat: none;
    background-position: top center;
    width: 90%;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin: 50px auto 0 auto;
    outline: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

/* Header */
header div {
    display: flex;
    justify-content: flex-end;
    padding: 15px 0px 0px 0px;
}

header .logo {
    margin-right: auto;
}

header .logo img {
    width: 270px;
}

header .header-right {
    align-self: center;
    position: relative;
    display: inline-block;
}

.header-right .dropdown-button {
    background: none;
    color: #106CB2;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    min-width: 150px;
    padding: 10px 0px 3px;
    overflow: auto;
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 5px 15px;
    display: block;
    font-size: 13px;
}

.header-right a:hover {
    background-color: #106CB2;
    color: #fff;
}
  
.show {
    display: block;
}

/* Slide Show */
.slideshow .container {
    max-width: 100%;
    margin: 15px auto;
    position: relative;
}

.my-slides {
    display: none;
    animation-name: fade;
    animation-duration: 2s;
}

.my-slides img {
    width: 100%;
    max-height: 400px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-size: 25px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    left: 50px;
    border-radius: 4px 0px 0px 4px;
}

.next {
    right: 50px;
    border-radius: 0px 4px 4px 0px;
}

.prev:hover, .next:hover {
    background-color: #333;
    opacity: 0.6;
}

/* Main */
.main {
    margin: 15px 0px;
}

.main .container {
    display: flex;
}

.main .navbar {
    flex-basis: 25%;
    height: 180px;
    border: 1px solid #A9A9A9;
}

.main .main-content {
    flex-basis: 75%;
    height: 500px;
}

/* Navigation */
.navbar .title {    
    border-bottom: 1px solid #A9A9A9;
}

.navbar .current {
    background-color: #106CB2;
    color: #fff;
}

.navbar ul li {
    border-bottom: 1px dotted #A9A9A9;
}

.navbar ul li:last-child {
    border-bottom: none;
}

.navbar ul li a {
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    color: #333;
}

.navbar ul li a:hover {
    background-color: #106CB2;
    color: #fff;
}

/* Main Content */
.main-content .header {
    display: flex;
    width: 100%;
}

.main-content .title {
    flex-basis: 85%;
}

.main-content .go-back {
    align-self: center;
    flex-basis: 85px;
    font-size: 14px;
    cursor: pointer;
    padding: 4px 0px;
    border-radius: 4px;
    border: 1px solid #A9A9A9;
}

.main-content .go-back .fas {
    margin-left: 5px;
    padding-right: 7px;
    font-size: 14px;
}

.main-content .go-back:hover {
    background: #0C74C6;
    color: #ffffff;
    padding: 4px 0px;
    border-radius: 4px;
    animation-name: fade;
    animation-duration: 1.3s;
}

.main-content .content {
    margin: 30px auto 0 auto;
    animation-name: fade;
    animation-duration: 1s;
}

.main-content h3#timedetails {
    height: 30px;
    line-height: 30px;
    margin: 0 20px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
}

/* Tab Content */
.main-content .tab {
    display: block;
    text-align: center;
    margin-top: 8px;
}

.main-content button.tablinks { 
    width: 22%;
    min-height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 8px 5px;
    outline: none;
}

.main-content button.pitches {
    width: 15%;
}

.main-content button.active {
    background: #106CB2;
    color: #ffffff;
}

.main-content button.tablinks:hover {
    background: #106CB2;
    color: #ffffff;
    cursor: pointer;
}

.main-content .tabcontent {
    width: 80%;
    height: 400px;
    margin: auto;
    overflow: auto;
    animation-name: fade;
    animation-duration: 2s;
}

.main-content #tab-1 {
    display: block;
}

.main-content #tab-2 {
    display: none;
}

/* Timetable */
.main-content table{
    width: 90%;
    margin: 15px auto;
}

.main-content table tr {
    display: flex;
    background: #FAFAFA;
    height: 38px;
    line-height: 38px;
}

.main-content table td, .main-content table th {
    text-align: center;
    border-left: 1px solid #A9A9A9;
    border-top: 1px solid #A9A9A9;
}

.main-content table tr .times, .main-content table tr .status, .main-content table th {
    flex: 2;
}

.main-content table tr:last-child td {
    border-bottom: 1px solid #A9A9A9;
}

.main-content table tr td:last-child, .main-content table th:last-child {
    flex: 1;
    border-right: 1px solid #A9A9A9;
}

.main-content table .button-regist {
    display: block;
    width: 100%;
    height: 100%;
    background: #ECECEC;
    padding: 5px 10px;
    border: none;
    outline: none;
}

.main-content table .button-regist:hover {
    background: #106CB2;
    color: #fff;
    cursor: pointer;
    animation-name: fade;
    animation-duration: 1.3s;
}

/* Form Register */
.my-form {
    width: 80%;
    margin: 10px auto;
}

.my-form h3 {
    margin: 0;
    font-size: 17px;
    text-align: center;
}

.my-form div {
    width: 70%;
    margin: auto;
}

.my-form label:not(:last-child) {
    display: inline-block;
    width: 125px;
    font-size: 15px;
}

.my-form input[type="text"] {
    width: 50%;
    height: 25px;
    line-height: 25px;
    padding: 3px 10px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #A9A9A9;
    outline: none;
}

.my-form input[type="radio"] {
    margin-left: 25px;
}

.my-form .button-register {
    width: 100%;
    height: 35px;
    margin-top: 10px;
    border: 1px solid #A9A9A9;
    border-radius: 3px;
}

.my-form .button-register:hover {
    background: #106CB2;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

/* Footer */
footer {
    width: 100%;
    height: 240px;
    background-image: url('../img/footer.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}

.footer-content {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-content .information, .footer-content .links {
    flex: 1;
}

.footer-content .connection {
    flex: 2;
}

.connection ul {
    display: flex;
}

.connection ul li {
    flex-basis: 25%;
}

.connection .fab, .connection .fas {
    font-size: 13px;
    color: #F17945;
    border: 1.5px solid #F17945;
    border-radius: 50%;
    padding: 5px 7px;
    margin-right: 5px;
}

.footer-content h3 {
    width: 70%;
    color: #fff;
    font-size: 15px;
    font-weight: 100;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-content ul {
    margin-top: 15px;
}

.footer-content ul li {
    line-height: 170%;
}

.footer-content ul li a{
    color: #D3D3D3;
    font-size: 13px;
}

.footer-content ul li a:hover{
    color: #fff;
}

.copyright {
    color: #fff;
    font-size: 14px;
    margin: 10px 0px;
}

/* Media Queries*/
@media (max-width: 991px) {
    .container {
        width: 80%;
    }
    .main .container {
        display: block;
    }
    
    .main .navbar {
        width: 220px;
    }
    
    .main .main-content {
        margin-top: 20px;
        height: 600px;
    }

    .prev {
        left: 20px;
    }
    
    .next {
        right: 20px;
    }

    .prev, .next {
        padding: 15px;
        font-size: 20px;
    }

    .footer-content .links,.footer-content .information, .footer-content .connection {
        flex: 1;
    }
    
    .footer-content .connection ul {
        display: block;
    }

    .footer-content .connection ul li {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .login {
        width: 200px;
        height: 175px;
        background-size: 100%;
        margin-top: 50px;
    }
    
    .form-login {
        width: 100%;
        height: 110px;
    }

    .form {
        width: 100%;
        height: 19px;
        line-height: 19px;
        margin-top: 2px;
    }
    
    .label-login {
        width: 28%;
        padding-left: 10px;
        font-size: 9px;
    }
    
    .form-login input[type="text"], .form-login input[type="password"] {
        width: 50%;
        height: 13px;
        line-height: 13px;
        margin-left: 0px;
        font-size: 9px;
    }
    
    .form-login input[type="checkbox"] {
        padding: 0;
        margin: 0px 0px 0px 60px;
        vertical-align: -4px;
        transform: scale(0.7);
    }

    .show-password {
        font-size: 9px;
    }
    
    .submit-login {
        background-size: 50%;
        width: 90%;
        height: 20px;
        line-height: 20px;
        margin: 15px auto 0 auto;
        border-radius: 2px;
        font-size: 11px;
    }

    .main-content button.tablinks {
        width: 40%;
    }
    
    .main-content button.pitches {
        width: 30%;
    }
    

    .main-content .tabcontent {
        width: 100%;
        height: 450px;
        overflow: auto;
    }

    .main-content table{
        width: 100%;
    }

    footer {
        width: 100%;
        height: 535px;
        background-size: cover;
    }
    
    .footer-content {
        display: block;
    }
    
    .footer-content h3 {
        width: 100%;
        padding-top: 8px;
    }
    
    .footer-content ul li {
        line-height: 140%;
    }

    .my-form div {
        width: 70%;
        margin: auto;
    }

    .my-form input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 479px) {
    .container {
        width: 90%;
    }

    .form-login p.alert {
        top: 47%;
        font-size: 9px;
    }

    header div {
        display: block;
    }

    header .logout {
        display: inline-block;
    }
    .prev, .next {
        padding: 12px;
        font-size: 18px;
    }

    .main-content .title {
        flex-basis: 70%;
    }

    .main-content .tabcontent {
        width: 100%;
        height: 450px;
        overflow: auto;
    }

    .my-form div {
        width: 100%;
    }

    .my-form input[type="text"] {
        width: 100%;
    }
}